<div>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/main">Protected page (requires authentication!)</a>
    <a href="/private">Protected page 2 (requires authentication!)</a>
    <a href="/logout">Logout</a>
</div>