<h2>New celebrity</h2>
<form action="/celebrities" method="POST">
<label for="">Name:</label>
  <input type="text" name="name" value="{{celebritiesDetails.name}}"/>

  <label for="">Ocupation:</label>
  <input type="text" name="occupation" value="{{celebritiesDetails.ocupation}}"/>

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebritiesDetails.catchPrhase}}"/>

<button type="submit">EDIT</button>
</form>